<head>
  <title>NSW Health</title>
</head>

<body>
  
{{>main}}

  <div class="row-head" align="center">
  <div class="col-sm-12" style="background-color: #325559;">
  	<a style="color: #fcd46b;">SORT BY</a>  
  	<button type="button" class="btn btn-link" style="color: white;">WARD</button>    
    <button type="button" class="btn btn-link" style="color: white;">NAME</button>    
    <button type="button" class="btn btn-link" style="color: white;">UNIT</button>
  </div>
  </div>

  {{>records}}

</body>

<template name="main">
  <div class="row">
   <div class="col-sm-12">
    <span class="glyphicon glyphicon-align-justify"></span>
    <h4 align="center">Medical Record View</h4>
    </div>
  </div>
  {{> yield}}
</template>

<template name="records">
      
    
        <div class="container-fluid">

        {{#each display_records}}
        
        <div class="col-sm-6">
        <table class="table">
        <tbody>
        <tr>
        <td class="dark-text">{{title}}</td>
        <td class="dark-text">{{FirstName}}</td>
        <td class="surname">{{SurName}}</td>
        <td></td>
        </tr>
        <tr>
        <td class="dark-text">AGE</td>
        <td class="dark-text">GENDER</td>
        <td class="dark-text">IDENTIFICATION</td>
        <td></td>
        </tr>
        <tr>
        <td class="green-text">{{age}}</td>
        <td class="green-text">{{gender}}</td>
        <td class="green-text">{{ID}}</td>
        <td><a href="/summary"><span class="glyphicon glyphicon-play-circle" style="color: #959595;"></span></a></td>
        </tr>
        <tr>
        <td class="yellow-text">WARD</td>
        <td class="dark-text">{{ward}}</td>
        <td class="yellow-text">UNIT</td>
        <td class="dark-text">{{unit}}</td>
        </tr>
        <tr>
        <td class="yellow-text">DIAGNOSIS</td>
        <td></td>
        <td class="dark-text" colspan="3" style="font-size: 13px">{{diagnosis}}</td>
        
        </tr>
        </tbody>
        </table>
        
        </div>
        {{/each}}
        </div>
    
  
</template>

<template name="summary">
 
       <div class="container-fluid">
       <div class="col-sm-8">
       
       <table class="table">
       
       <tr>
       <td class="dark-text">Mr Gerry</td>
       <td rowspan="2">321096</td>
       </tr>
       <tr>
       <td classs="surname">WALTERS</td>
       </tr>
       <tr>
       <td class="dark-text">MALE</td>
       <td rowspan="2">LOCATION CCU</td>
       </tr>
       <tr>
       <td class="dark-text">17 Mar 1984</td>
       </tr>
       <tr>
       <td class="dark-text">31 years old</td>
       <td class="blue-text">UNIT General Surgery</td>
       </tr>
       
       </table>
       

       <table class="table">
       <tbody>
       <tr>
       <td class="dark-text">Admitted date</td>
       <td class="blue-text">28 Apr 2010 at 12:07:45</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Attending doctor</td>
       <td class="blue-text">Dr Mary Snell</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Current condition</td>
       <td class="blue-text">IMMEDIATE FAMILY (19 Oct 2015 09:57)</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Working diagnosis</td>
       <td class="blue-text">Febrile illness</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Expected discharge</td>
       <td class="blue-text">20 Oct 2015 at 15:00:00</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Diet</td>
       <td class="blue-text">Nil Orally</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Fasting</td>
       <td class="blue-text">Yes</td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       <tr>
       <td class="dark-text">Health issues</td>
       <td class="blue-text"></td>
       <td><span class="glyphicon glyphicon-circle-arrow-right"></span></td>
       </tr>
       </tbody>
       </table>
       

       <table class="table">
       <tbody>
       <tr>
       <td class="blue-text">CHRONIC OBSTRUCTIVE PULMONA...</td>
       <td class="blue-text">ACTIVE</td>
       </tr>
       <tr>
       <td class="dark-text">6 years ago</td>
       <td class="dark-text">15 Mar 2015</td>
       </tr>
       <tr>
       </tr>
       <tr>
       </tr>
       <tr>
       <td class="blue-text">TYPE 2 DIABETES MELLITUS WITHO...</td>
       <td class="blue-text">ACTIVE</td>
       </tr>
       <tr>
       <td class="dark-text">6 years ago</td>
       <td class="dark-text">17 Apr 2010</td>
       </tr>
       <tr>
       </tr>
       <tr>
       </tr>
       <tr>
       <td class="blue-text">SELF HARM</td>
       <td class="blue-text">RESOLVED</td>
       </tr>
       <tr>
       <td class="dark-text">3 years ago</td>
       <td class="dark-text">28 Jun 2013</td>
       </tr>
       </tbody>
       </table>
       </div>

       
      <div class="col-sm-4">
      <img src="/pic/P1.jpg" alt="Profile Picture">
       <div class="menu">
        <ul>
        <li><span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Summary</a></li>
        <li><span class="glyphicon glyphicon-alert"></span>  <a href="#">Alerts and Allergies</a></li>
        <li><span class="glyphicon glyphicon-search"></span>  <a href="#">Observations</a></li>
        <li><span class="glyphicon glyphicon-file"></span>  <a href="#">Health Issues</a></li>
        <li><span class="glyphicon glyphicon-menu-hamburger"></span>  <a href="#">Progress Notes</a></li>
        <li><span class="glyphicon glyphicon-plus-sign"></span>  <a href="#">Medications</a></li>
        <li><span class="glyphicon glyphicon-floppy-save"></span>  <a href="#">Diagnostic Results</a></li>
        <li><span class="glyphicon glyphicon-circle-arrow-down"></span>  <a href="#">Correspondence</a></li>
        <li><span class="glyphicon glyphicon-share-alt"></span>  <a href="#">Procedures</a></li>
        <li><span class="glyphicon glyphicon-briefcase"></span>  <a href="#">Visits</a></li>
        <li><span class="glyphicon glyphicon-map-marker"></span>  <a href="#">Address and Contact</a></li>
        </ul>
       </div>
      </div>
       
       
       
       </div>
</template>

