
@font-face {
    font-family: 'Aqua Grotesque';
    src: url(/fonts/aqua.ttf);
}

body {
	background-color: #263f42;
    font-family: "Aqua Grotesque";

     }

.col-sm-8 {
	background-color: white;
}
     
.row {
    background-color: #485158;
    border: 2px solid #325559;
    
     }

.yellow-text {
	color: #fcd46b;
	text-align: left;
    }

h4 {
	color: white;
}

.dark-text {
	color: #959595;
	text-align: left;

}

.green-text {
	color: #40939c;
	text-align: left;
}

.surname {
	color: white;
	font-size: 120%;
	text-align: center;
}

table {
    border-bottom:0px !important;
    border-top:0px solid #325559;
}

td {
    border: 0px !important;
}

.container-fluid {
	border: 2px solid #325559;
          }

.col-sm-6 {
	height:20%;
         }

.blue-text {
	color: #0076a3;
	text-align: left;
}

li {
	color: #ebebeb;
	line-height: 42px;
}